.container {
  position: relative;
  text-align: center;
  color: white;
  right: 200px;
}

.box {
  position: absolute;
  top: 15px;
  left: 450px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 195, 195);
  height: 50px;
  width: 200px;
}
